#sell-div {
    padding: 20px 80px;
    height: 500px;
    width: 75%;
    margin-right: 50px;
    float: right;
    background: ghostwhite;
}

#input-image-div {
    width: inherit;
    margin-top: 10px;

}

#load-image {
    float: right;
}

