#headline {
    width: 100%;
    height: 50px;
}

#log-in-form {
    text-align: right;
    float: right;
    width: 40%;
}

#search {
    width: 20%;
    float: left;
}

#collection-button {
    margin-left: 5px;
}

