
.main-block {
    padding: 10px 20px 10px 20px;

}

.menu {
    width: 15%;
    float: left;
    padding-left: 20px;
}

.content {
    width: 100%;
    height: auto;
    float: right;
}

#hello-div {
    object-fit: contain;
    background: url(/resources/images/main-image.jpg);
}

#image {
    width: 100%;
    height: 120px;
    background: url(/resources/images/add-image.jpg);
}
